.pictureViewer {
	/* define the name of this grid area */
	grid-area: pictureViewer;
	background-color: #1c313a;
	user-select: none;
}

.noImage {
	color: white;
	height: 100%;
	display: flex;
	/* Vertical center alignment */
	align-items: center;
	/* Horizontal center alignment */
	justify-content: center;
}

.bufferDiv {
	background-color: #1c313a;
	height: 100%;
	width: 100%;
	/* center the images in the grid cell */
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* position relative to be able to have the two floating arrows in absolute position */
	position: relative;
}

/* constrain the width and height to fit in the grid cell allocated to images */
.pictureViewer img {
	max-width: 100%;
	max-height: 100%;
}

.pictureViewer .arrow {
	position: absolute;
	opacity: 0;
	background-color: #1c313a;
	height: 100%;
	width: 20%;
	text-align: center;
	font-size: 4em;
	/* have to use flexbox for vertical center, vertical-align and line-height not applicable */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* reproducing a button behavior */
	cursor: pointer;
	user-select: none;
}

.arrow:focus {
	/* removing focus blue border */
	outline: none;
}

.pictureViewer .left-arrow {
	left: 0;
}

.pictureViewer .right-arrow {
	right: 0;
}

.pictureViewer .arrow:hover {
	opacity: 0.8;
}
