.navLeft {
	grid-area: navLeft;
	background-color: #455a64;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	padding-left: 4px;
	user-select: none;
}

.icon {
	color: white;
	font-size: 2em;
	padding-top: 15px;
}
