.App {
	display: grid;
	grid-template-columns: 40px auto 40px;
	grid-template-rows: auto 150px;
	grid-template-areas:
		'navLeft pictureViewer navRight'
		'navLeft slider navRight';
	height: 100%;
}

.icon {
	color: white;
	font-size: 2em;
	padding-top: 15px;
	cursor: pointer;
}
