.slider {
	grid-area: slider;
	background-color: #1c313a;
	user-select: none;
	overflow-x: scroll;
}

.slider-list {
	width: 100%;
	height: 130px;
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	padding-top: 5px;
}

.slider-item {
	list-style: none;
	height: 130px;
	flex: 0 0 auto;
	margin: 0px 5px;
}

.slider-item:focus {
	outline: 3px solid white;
	/* border: 3px solid white; */
}

.slider-item .slider-img {
	max-height: 100%;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 18px;
}
::-webkit-scrollbar-thumb {
	background-color: #455a64;
}
